@model quiz.Models.Option

@{
    ViewData["Title"] = "Create";
    var questionsExist = ViewBag.QuestionId != null && ((SelectList)ViewBag.QuestionId).Any();
}
<div class="container-fluid px-4">
    <h1 class="mt-4">Dashboard</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active"><a asp-controller="Admin" asp-action="AdminPanel" style="color: inherit; text-decoration: none;">Admin Panel</a></li>
        <li class="breadcrumb-item active">Option</li>
    </ol>
    <h1>Create</h1>

    <h4>Option</h4>
    <hr />
    <div class="row">
        @if (questionsExist)
        {
            <div class="col-md-4">
                <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="OptionText" class="control-label"></label>
                    <input asp-for="OptionText" class="form-control" />
                    <span asp-validation-for="OptionText" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="OptionIsCorrect" /> @Html.DisplayNameFor(model => model.OptionIsCorrect)
                    </label>
                </div>
                <div class="form-group">
                    <label for="questionId">Question</label>
                    <select name="questionId" asp-items="ViewBag.QuestionId" class="form-control"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
        }
        else
        {
            <div class="alert alert-warning" role="alert">
                No questions available. You must <a href="@Url.Action("Create", "Questions")" class="alert-link">create a question</a> before creating an option.
            </div>
        }
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
