@model quiz.Models.Category

@{
    ViewData["Title"] = "Details";
}
<div class="container-fluid px-4">
    <h1 class="mt-4">Dashboard</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active"><a asp-controller="Admin" asp-action="AdminPanel" style="color: inherit; text-decoration: none;">Admin Panel</a></li>
        <li class="breadcrumb-item active">Category</li>
    </ol>
    <h1>Details</h1>

    <div>
        <h4>Category</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CategoryName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CategoryName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CategoryIsActive)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CategoryIsActive)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.CategoryId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>
